.hero-home{
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/home-doc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 640px;
    z-index: 9;
    @media (min-width:992px) {
        min-height: 750px;
    }
    

    &:after{
        content: '';
        @include absolute(0,0);
        @include size(100%,100%);
        z-index:1;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,000000+100&0+0,0.58+100 */
        background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(0,0,0,0.58) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.58) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.58) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#94000000',GradientType=0 ); /* IE6-9 */
    }

    // home-conent
    .home-conent{
        z-index: 9;
    }
    // home-btn
    .home-btn{
        z-index: 9;
    }
    // home-badge
    .home-badge{
        z-index: 9;
    }
}