*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color:$gray;
   color: $black;
   font-size: 14px;
   line-height: 1.4;
   font-weight: $font-400;
   background-image: url('../../assets/images/bg.svg');
   background-repeat: repeat;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type:none
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.btn{
  &:focus{
    box-shadow: none;
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font;
}

button,input{
    &:hover,
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
