// Fonts
$font: 'Almarai', sans-serif;

// Font Weight
$font-300: 300;
$font-400: 400;
$font-700: 700;
$font-800: 800;


// Brand Color
$gray:#F5F5F5;
$black:#000000;
$black-2:#2C2C2C;
$white:#ffffff;

$blue:#02A7D6;
$dark-blue:#00437B;